/* button styling */
.btn-success.disabled, .btn-success:disabled {
    background-color: #c99240;
}

.btn-success {
    background-color: #f0a128;
    border-color: darkgray;
}

.btn-success.active {
    background-color: #c99240;
}