#navBanner {
    background-image: url(https://images.unsplash.com/photo-1542831371-32f555c86880?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    width:100%;
    height: auto;
    background-repeat:no-repeat;
    background-size:cover;
}